<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="menu :: newhead"></head>
<body>
<nav data-th-replace="menu :: newmenu"></nav>

<div class="container">
    <div class="h1 mb-3">
        <p>Új cikk</p>
    </div>
    <form data-th-action="@{/createNews}" method="POST" data-th-object="${news}">
        <div class="form-group">
            <div class="mb-3">
                <label for="title">Cikk címe:</label>
                <textarea data-th-field="*{title}" id="title" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="text">Cikk bevezetője:</label>
                <textarea data-th-field="*{text}" id="text" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="mainText">Cikk szövege:</label>
                <textarea data-th-field="*{mainText}" id="mainText" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="hashtags">Hashtagek (vesszővel elválasztva):</label>
                <textarea data-th-field="*{hashtags}" id="hashtags" class="form-control"></textarea></div>
        </div>
        <button type="submit" class="btn btn-primary">Beküld</button>

    </form>
</div>

</body>
</html>