<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="menu :: newhead"></head>
<body>
<nav data-th-replace="menu :: newmenu"></nav>
<div class="container">
    <h1>hashtag following backend test</h1>

    <!-- Followolható Hashtagek LISTÁJA -->
    <label for="hashtaglist"><strong>Followolható</strong> hashtagek:</label>
    <div data-th-if="${allHashtags.empty}">
        Összes followolva van a bejelentkezett felhasználó által.
    </div>
    <table data-th-if="${!allHashtags.empty}" class="table" id="hashtaglist">
        <tr data-th-each="oneTag: ${allHashtags}">
            <td data-th-text="${oneTag.getName()}"> </td>
        </tr>
    </table>

    <!-- Hashtag HOZZÁADÁSA Followed listához -->
    <form data-th-if="${!allHashtags.empty}" data-th-action="@{/addHashtag}" method="POST" data-th-object="${hashtagdto}">
        <div class="form-group">
            <label for="followText">followolni kívánt hashtag:</label>
            <textarea data-th-field="${hashtagdto.name}" id="followText" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Hozzáad</button>
        <div class="mt-4">
        </div>
    </form>

    <!-- Followolt Hashtagek LISTÁJA -->
    <label for="followedHashtags"><strong>Followed</strong> hashtagek:</label>
    <div data-th-if="${allFollowed.empty}">
        Nincsen followed hashtag!
    </div>
    <table data-th-if="${!allFollowed.empty}" class="table" id="followedHashtags">
        <tr data-th-each="oneFollowed: ${allFollowed}">
            <td data-th-text="${oneFollowed.getName()}"> </td>
        </tr>
    </table>

    <!-- Hashtag TÖRLÉSE Followed listából -->
    <form data-th-if="${!allFollowed.empty}" data-th-action="@{/removeHashtag}" method="POST" data-th-object="${hashtagdto}">
        <div class="form-group">
            <label for="removeText">törölni kívánt hashtag:</label>
            <textarea data-th-field="${hashtagdto.name}" id="removeText" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Töröl</button>
        <div class="mt-4">
        </div>
    </form>


</div>

</body>
</html>