<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="menu :: newhead">
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="css/styles.css">-->
</head>
<body>
<nav data-th-replace="menu :: newmenu"></nav>
<div class="container">
    <h1>Üdv</h1>
    <table class="table table-sm">
        <thead>
        <tr data-th-each="oneNews: ${allNews}" >
            <td>
                <div data-th-text="${oneNews.getCreationTime()}"></div>
            </td>
            <td>
                <div data-th-text="${oneNews.getContent()}"></div>
            </td>
            <td>
                <div data-th-text="${oneNews.getAuthor()}"></div>
                <div data-th-text="${oneNews.getTitle()}"></div>
            </td>
        </thead>
    </table>
    <div>
        Total items: [[${totalNews}]]

        <nav aria-label="Page navigation example">
            <ul class="pagination" data-th-each="actualFirst: ${pageNumbers}" >
                <li class="page-item" ><a data-th-href="@{'/home/'+${actualFirst}+'/'}" data-th-text=${actualFirst}></a></li>
            </ul>
        </nav>

    </div>
</div>
</body>
</html>
