<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="menu :: newhead">
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="css/styles.css">-->
</head>
<body>
<nav data-th-replace="menu :: newmenu"></nav>
<div class="row">
    <div class="col-md-8">
        <!-- hírek blokk -->
        <div class="container">
            <!-- top hashtagek -->
            <h3>Legfelkapottabb <em>#hashtagek</em></h3>
            <table class="table table-sm">
                <tr>
                    <td data-th-each="oneHash: ${topHashes}">
                        <a data-th-href="@{'/hashtag/' + ${oneHash.getName()}}" class="badge badge-pill badge-info"
                           data-th-text="'#' + ${oneHash.getName()}"></a>
                    </td>
                </tr>
            </table>
            <!-- hírek -->
            <div class="container">
                <h3 class="mb-3">Hírek:</h3>
                <div class="row">
                    <div class="col-sm-6" data-th-each="oneNews: ${allNews}">
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="float-left" data-th-text="${oneNews.getCreationTime()}"></div>
                                <div class="float-right" data-th-text="${oneNews.getAuthor()}"></div>
                            </div>
                            <div class="card-body">
                                <div class="mb-2">
                                    <a class="h5 card-title text-secondary" data-th-href="@{'/news/'+${oneNews.getId()}}" data-th-text="${oneNews.getTitle()}"></a>
                                </div>
                                <div>
                                    <a class="card-text text-dark" data-th-href="@{'/news/'+${oneNews.getId()}}" data-th-text="${oneNews.getContent()}"></a>
                                </div>

                            </div>
                            <div class="card-footer d-flex justify-content-start">
                                <div data-th-each="oneHashtag: ${oneNews.getHashtagList()}">
                                    <a href="#" class="badge badge-pill badge-info mr-1" data-th-text="'#' + ${oneHashtag.getName()}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <table class="table table-sm">
                <thead>
                <h2><strong>Hírek</strong></h2>
                </thead>
                <tbody>
                <tr data-th-each="oneNews: ${allNews}">
                    <td>
                        <div data-th-text="${oneNews.getCreationTime()}"></div>
                    </td>
                    <td>
                        <div><a data-th-href="@{'/news/'+${oneNews.getId()}}"
                                data-th-text="${oneNews.getContent()}"></a></div>
                    </td>
                    <td>
                        <div data-th-text="${oneNews.getAuthor()}"></div>
                        <div data-th-text="${oneNews.getTitle()}"></div>
                    </td>
                </tbody>
            </table>
            -->
        </div>
    </div>
    <div class="col-md-4">
        <!-- oldalsáv -->
        <!--
        <div data-th-include="hashtagTests :: favorithashtags"></div>
        -->
    </div>
</div>
</body>
</html>
