
<html>
<head data-th-fragment="newhead">
    <meta charset="UTF-8"/>
    <link type="text/css" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.15.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3" data-th-fragment="newmenu">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/followedHashtags">Followed hashtags</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/createNews">Create new News</a>
        </li>
    </ul>
    <div class="ml-auto">
                <span data-sec-authorize="isAuthenticated()" class="text-light">
                    <span >Üdv </span><span data-sec-authentication="name"></span><span >!</span>
                </span>

        <a  data-sec-authorize="isAuthenticated()" class="" href="/logout">Kijelentkezés</a>
        <a  data-sec-authorize="! isAuthenticated()" class="" href="/login">Bejelentkezés</a>
    </div>
</nav>

</body>
</html>