<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head data-th-replace="menu :: newhead">
</head>

<body>
<nav data-th-replace="menu :: newmenu"></nav>
<div class="row">
    <div class="col-md-8">
        <!-- hír -->
        <div class="container">
            <div class="card">
                <div class="card-header text-muted">
                    <div class="float-left" data-th-text="${oneNews.getCreationTime()}"></div>
                    <div class="float-right" data-th-text="${oneNews.getAuthor()}"></div>
                </div>
                <div class="card-body">
                    <div class="h5 card-title" data-th-text="${oneNews.getTitle()}"></div>
                    <div data-th-text="${oneNews.getMainContent()}"></div>
                </div>
                <div class="card-footer">
                    <div class="w-50">

                        <!-- kommentek -->
                        <!-- TODO ne csukódjon be hozzáadásnál, update-nél, és törlésnél se, csak ha üres -->
                        <button class="btn btn-primary mb-2" type="button" data-toggle="collapse" data-target="#collapseComments"
                                aria-expanded="false" aria-controls="collapseExample">
                            Kommentek
                        </button>
                        <div class="collapse" id="collapseComments">
                            <div class="card card-body">
                                <div class="container">
                                    <!-- TODO card(?)-->
                                    <div class="card border-light mb-3" style="max-width: 100%;" data-th-each="oneComment: ${comments}"> <!-- 18-24rem -->
                                        <div class="card-header">
                                            <div class="float-left text-muted" data-th-text="${oneComment.getCreationTime()}"></div>
                                            <div class="float-right text-muted" data-th-text="${oneComment.getCreator()}"></div>
                                        </div>
                                        <div class="card-body">
                                            <p data-th-if="${oneComment.isAuthor()}" class="card-text" data-th-text="${oneComment.getMessage()}"></p>

                                            <p data-th-unless="${oneComment.isAuthor()}" class="w-80 card-text float-left" data-th-text="${oneComment.getMessage()}"></p>
                                            <!-- TODO flag gomb -->
                                            <div data-th-unless="${oneComment.isAuthor()}" class="w-20">
                                                <div class="float-right">
                                                    <button type="button" class="btn btn-outline-danger btn-sm" title="Kifogásolható komment">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-flag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div  class="mb-2" data-th-if="${oneComment.isAuthor()}">
                                            <!-- szerkeszt, töröl -->
                                            <button class="btn btn-outline-secondary btn-sm float-left ml-3" style="max-width: 100%;" type="button" data-toggle="collapse"
                                                    data-th-href="@{'#collapseEditComments'+${oneComment.getId()}}"
                                                    aria-expanded="false" aria-controls="collapseExample">
                                                Komment szerkesztése
                                            </button>
                                            <div class="collapse" data-th-id="@{'collapseEditComments'+${oneComment.getId()}}" }>
                                                <div class="card card-body">
                                                    <div class="container">
                                                        <form data-th-action="@{'/updateComment/'+${oneNews.getId()}+'/'+${oneComment.getId()}}"
                                                              method="POST"
                                                              data-th-object="${commentDto.message}">
                                                            <div class="form-group"> <!-- data-th-field="${commentDto.message}" -->
                                                                <label for="@{'editComment'+${oneComment.getId()}}">Szerkeszt:</label>
                                                                <!-- data-th-field="${commentDto.message}"-->
                                                                <input type="text" data-th-field="${commentDto.message}"
                                                                       th:attr="value = ${oneComment.getMessage()}"
                                                                       id="@{'editComment'+${oneComment.getId()}}"
                                                                       class="form-control">
                                                            </div>
                                                            <button type="submit" class="btn btn-outline-success btn-sm">Elment
                                                            </button>
                                                            <div class="mt-4">
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-outline-danger btn-sm float-right mr-3" data-toggle="modal"
                                                    data-target="#deleteCommentModal">Töröl
                                            </button>

                                            <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Törlés</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Biztosan törlöd a kommentet?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                                Mégse
                                                            </button>
                                                            <form data-th-action="@{'/deleteComment/'+${oneNews.getId()}+'/'+${oneComment.getId()}}"
                                                                  method="POST">
                                                                <button type="submit" class="btn btn btn-danger">Töröl</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- új komment írása -->
                                <!-- TODO csak ha logged in user!  -->
                                <form data-th-action="@{'/addComment/'+${commentDto.newsId}}" method="POST" data-th-object="${commentDto}">
                                    <div class="form-group">
                                        <label for="comment">Most szólj hozzá:</label>
                                        <textarea data-th-field="${commentDto.message}" id="comment" class="form-control"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Odateszem a megszólalásomat ;)</button>
                                    <div class="mt-4">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-75 row justify-content-center">
    <div class="col-md-8">
        <!-- hírek,  -->
        <div class="container">
            <table class="table table-sm">
                <tbody>
                <tr>
                    <!-- cikk szerkesztése -->
                    <td>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse"
                                    data-th-href="@{'#collapseEditNews'+${oneNews.getId()}}"
                                    aria-expanded="false" aria-controls="collapseExample">
                                Cikk szerkesztése
                            </button>
                            <div class="collapse" data-th-id="@{'collapseEditNews'+${oneNews.getId()}}" }>
                                <div class="card card-body">
                                    <div class="container">
                                        <form data-th-action="@{'/editNews/'+${oneNews.getId()}}"
                                              method="POST"
                                              data-th-object="${newsDto}">
                                            <!-- TODO default value -->
                                            <div class="form-group">
                                                <label for="@{'editNewsTitle'+${oneNews.getId()}}">Cím:</label>
                                                <input type="text" data-th-field="${newsDto.title}"
                                                       id="@{'editNewsTitle'+${oneNews.getId()}}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="@{'editNewsText'+${oneNews.getId()}}">Bevezető:</label>
                                                <input type="text" data-th-field="${newsDto.text}"
                                                       id="@{'editNewsText'+${oneNews.getId()}}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="@{'editNewsMainText'+${oneNews.getId()}}">Cikk szövege:</label>
                                                <input type="text" data-th-field="${newsDto.mainText}"
                                                       id="@{'editNewsMainText'+${oneNews.getId()}}" class="form-control">
                                            </div>
                                            <button type="submit" class="btn btn-outline-success btn-sm">Elment
                                            </button>
                                            <div class="mt-4">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </td>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4">
        <!-- oldalsáv -->

        <!-- TODO hiba2 -->
        <!-- <div data-th-include="hashtagTests :: favorithashtags"></div> -->
    </div>
</div>


</body>
</html>